For excecution, go to: https://drive.google.com/file/d/10l9ekdvLgXTOqEyskDkyo1lpumFWA9q5/view?usp=sharing

In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()
spark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

# Import Libraries

In [ ]:
from pyspark.sql.functions import col, lit, count, abs, first, round, sum, collect_list, floor,struct, sqrt, pow, array, expr,current_date
from pyspark.sql.types import StringType, IntegerType, DoubleType
from pyspark.sql import DataFrame

## Loading Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls -l drive/'My Drive'/prueba_lla/data_sample

total 8
drwx------ 2 root root 4096 Feb 18 17:12 geo
drwx------ 2 root root 4096 Feb 18 17:12 labels

In [ ]:
geo = spark.read.parquet("drive/My Drive/prueba_lla/data_sample/geo/*", header=True)
print(f"Number of Rows = {geo.count()}")
geo.show(5)

Number of Rows = 611959
+------------------+-----------------+--------------------+--------------------+
|           latitud|         longitud|              comuna|                  ID|
+------------------+-----------------+--------------------+--------------------+
|  353894.669721904|6301392.600521904|b13b671cb296c1ce5...|ab6f6062e7fac953a...|
| 297273.7487498676|6271440.347349868|d10ad8071d7270bc1...|b12fac130e9008be6...|
|172956.24831402366|5702581.978114024|20c5891e1d78fe2f3...|cf29a4e836a1c4ba4...|
| 135846.1650072791|5920764.953007279|c51ed7a673a2184f2...|46b48d3aa7694ae78...|
|351678.75214929937|6282760.015749299|8e7e23148e55a25a0...|c86eb4ca0aeb0a981...|
+------------------+-----------------+--------------------+--------------------+
only showing top 5 rows

In [ ]:
labels = spark.read.parquet("drive/My Drive/prueba_lla/data_sample/labels/*", header=True)
print(f"Number of Rows = {labels.count()}")
labels.show(5)

Number of Rows = 84435
+--------------------+-----+
|                  ID|event|
+--------------------+-----+
|ea165b785d74859a9...|    2|
|558d0ed3e3cf87a3d...|    2|
|2da14424526a7d741...|    2|
|8f619aaa096c4e9da...|    2|
|cabf40eac3538e1a6...|    1|
+--------------------+-----+
only showing top 5 rows

Joining the two dfs

In [ ]:
merged_df = geo.join(labels, on="ID", how="left")

cleaned_df = merged_df.groupBy("ID").agg(
    first("comuna").alias("comuna"),
    first("latitud").alias("latitud"),
    first("longitud").alias("longitud"),
    collect_list("event").alias("event")  # Guarda una lista de todos los eventos que tiene un cliente
)

print(f"Number of Rows = {cleaned_df.count()}")
cleaned_df.show(10)

Number of Rows = 601709
+--------------------+--------------------+------------------+------------------+-----+
|                  ID|              comuna|           latitud|          longitud|event|
+--------------------+--------------------+------------------+------------------+-----+
|000002d58f027143d...|7bf0aaf9628a3371b...| 326084.2961682221| 6279531.062668222|   []|
|000057bee0e812792...|a532cdd0fac620d39...| 258275.9814788573| 6341931.224259003|   []|
|00005fe9d2e7a9d12...|5fa3a58d4e35efd78...|342015.01299357676|6298414.1473696055|  [2]|
|000072d007dc1f2cb...|44e33af5f4c88c82d...| 337544.0182890504| 6307956.648998858|   []|
|0000b43cdeba529f3...|c1085325d225ba129...|341918.86591499206| 6283674.388114992|   []|
|0000bbef22650c35d...|41746729733b29ef3...|386112.16969119024| 7757299.506275459|   []|
|0000d7d338169ee5f...|44e33af5f4c88c82d...|339891.48521050595| 6306511.730410506|   []|
|00012403769c505ca...|a1ddd6c69647304a7...|184425.05939029466| 5705525.088733884|   []|
|000141f58e230e7c1...|c1085325d225ba129...|341519.37962761626| 6282229.080327616|   []|
|000166718d957a9e6...|c51ed7a673a2184f2...|133445.00837749333| 5925665.650777494|   []|
+--------------------+--------------------+------------------+------------------+-----+
only showing top 10 rows

Se define un sistema cartesiano:
 * A cada punto se le asigna una región de 50m X 50m
 * Ej: Si un punto se encuentra en (20,30), este está en la grilla (1,1). Si un punto está en (70,30), esté está en la grilla (2,1).

In [ ]:
def asignar_grids(df: DataFrame, grid_size: int = 50) -> DataFrame:
    """
    Asigna una cuadrícula (grid_x, grid_y) de tamaño `grid_size` a cada punto en el DataFrame de PySpark.

    :param df: DataFrame de PySpark con las columnas 'longitud' y 'latitud'
    :param grid_size: Tamaño del grid en metros (por defecto 50m)
    :return: DataFrame con la nueva columna 'grid' que contiene las coordenadas del grid (x, y)
    """
    df = df.withColumn("grid_x", floor(col("longitud") / grid_size) + 1)
    df = df.withColumn("grid_y", floor(col("latitud") / grid_size) + 1)
    df = df.withColumn("grid", struct(col("grid_x").cast("int"), col("grid_y").cast("int")))

    return df.drop("grid_x", "grid_y")  # Elimina columnas auxiliares si no son necesarias

In [ ]:
grid_df = asignar_grids(cleaned_df)

In [ ]:
grid_df.show(10)

+--------------------+--------------------+------------------+------------------+-----+--------------+
|                  ID|              comuna|           latitud|          longitud|event|          grid|
+--------------------+--------------------+------------------+------------------+-----+--------------+
|000002d58f027143d...|7bf0aaf9628a3371b...| 326084.2961682221| 6279531.062668222|   []|{125591, 6522}|
|000057bee0e812792...|a532cdd0fac620d39...| 258275.9814788573| 6341931.224259003|   []|{126839, 5166}|
|00005fe9d2e7a9d12...|5fa3a58d4e35efd78...|342015.01299357676|6298414.1473696055|  [2]|{125969, 6841}|
|000072d007dc1f2cb...|44e33af5f4c88c82d...| 337544.0182890504| 6307956.648998858|   []|{126160, 6751}|
|0000b43cdeba529f3...|c1085325d225ba129...|341918.86591499206| 6283674.388114992|   []|{125674, 6839}|
|0000bbef22650c35d...|41746729733b29ef3...|386112.16969119024| 7757299.506275459|   []|{155146, 7723}|
|0000d7d338169ee5f...|44e33af5f4c88c82d...|339891.48521050595| 6306511.730410506|   []|{126131, 6798}|
|00012403769c505ca...|a1ddd6c69647304a7...|184425.05939029466| 5705525.088733884|   []|{114111, 3689}|
|000141f58e230e7c1...|c1085325d225ba129...|341519.37962761626| 6282229.080327616|   []|{125645, 6831}|
|000166718d957a9e6...|c51ed7a673a2184f2...|133445.00837749333| 5925665.650777494|   []|{118514, 2669}|
+--------------------+--------------------+------------------+------------------+-----+--------------+
only showing top 10 rows

Encontrar la distancia para los puntos, solo en regiones adyacentes, pues sabemos que todos los puntos más cercanos a 50m están en las regiones adyacentes.

In [ ]:
from pyspark.sql import DataFrame
from pyspark.sql.functions import sqrt, pow, col

def calculate_distances(grid_df: DataFrame) -> DataFrame:
    """
    Calcula la distancia entre clientes en grid_df a clientes con eventos en grid_df en un radio de 50 metros,
    considerando solo los puntos dentro del mismo grid o en grids adyacentes.
    También elimina filas donde ID_geo == ID_event (mismo cliente).

    :param grid_df: DataFrame con las columnas ['ID', 'comuna', 'latitud', 'longitud', 'event', 'grid']
    :return: DataFrame con las columnas ['ID_geo', 'comuna', 'latitude_geo', 'longitude_geo',
                                         'ID_event', 'latitude_event', 'longitude_event', 'event', 'distance']
    """

    # Extraer las coordenadas del grid como columnas separadas con sus nombres reales
    grid_df = grid_df.withColumn("grid_x", col("grid.col1")) \
                     .withColumn("grid_y", col("grid.col2"))

    # Filtrar clientes que tienen eventos
    events_df = grid_df.filter(col("event").isNotNull() & (col("event") != array()))

    # Hacer un self-join en la misma comuna y solo en grids cercanos
    distance_df = grid_df.alias("g1").join(
        events_df.alias("g2"),
        (col("g1.comuna") == col("g2.comuna")) &  # Solo en la misma comuna
        (
            (col("g1.grid_x") == col("g2.grid_x")) & (abs(col("g1.grid_y") - col("g2.grid_y")) <= 1) |
            (col("g1.grid_y") == col("g2.grid_y")) & (abs(col("g1.grid_x") - col("g2.grid_x")) <= 1) |
            (abs(col("g1.grid_x") - col("g2.grid_x")) == 1) & (abs(col("g1.grid_y") - col("g2.grid_y")) == 1)
        ),
        "inner"
    ).filter(col("g1.ID") != col("g2.ID"))  # Eliminar filas donde ID_geo == ID_event

    # Calcular la distancia Euclidiana
    distance_df = distance_df.withColumn(
        "distance",
        sqrt(
            pow(col("g1.latitud") - col("g2.latitud"), 2) +
            pow(col("g1.longitud") - col("g2.longitud"), 2)
        )
    ).filter(col("distance") <= 50)  # Filtrar solo los clientes en un radio de 50m

    # Seleccionar las columnas finales
    distance_df = distance_df.select(
        col("g1.ID").alias("ID_geo"),
        col("g1.comuna"),
        col("g1.latitud").alias("latitude_geo"),
        col("g1.longitud").alias("longitude_geo"),
        col("g2.ID").alias("ID_event"),
        col("g2.latitud").alias("latitude_event"),
        col("g2.longitud").alias("longitude_event"),
        col("g2.event"),
        col("distance")
    )

    return distance_df.withColumn("date_processed", current_date()) #Agregar fecha para mantener track semanal

In [ ]:
dist_df = calculate_distances(grid_df)
print(f"Number of Rows = {dist_df.count()}")
dist_df.show(10)

Number of Rows = 373063
+--------------------+--------------------+------------------+------------------+--------------------+------------------+-----------------+-----+------------------+--------------+
|              ID_geo|              comuna|      latitude_geo|     longitude_geo|            ID_event|    latitude_event|  longitude_event|event|          distance|date_processed|
+--------------------+--------------------+------------------+------------------+--------------------+------------------+-----------------+-----+------------------+--------------+
|00944c192e588e812...|f3de540ebefb09aaf...|358859.89315310353| 6307671.723495424|773d9d14c68cc25bc...| 358857.0619159535|6307696.733227695|  [2]|  25.1694777874695|    2025-02-19|
|00944c192e588e812...|f3de540ebefb09aaf...|358859.89315310353| 6307671.723495424|657b8c452fcae8946...|358857.83758169226|6307697.508893435|  [2]|25.867201712157765|    2025-02-19|
|00e7887af5140e340...|f3de540ebefb09aaf...| 358451.6623842446| 6307001.593334052|aa41f8a93356154a3...| 358485.0771070226|6307002.025413607|  [2]| 33.41751623131583|    2025-02-19|
|0129ba9267d30b631...|f3de540ebefb09aaf...| 358849.7154500834|6307689.3867618255|773d9d14c68cc25bc...| 358857.0619159535|6307696.733227695|  [2]|10.389471668838654|    2025-02-19|
|0129ba9267d30b631...|f3de540ebefb09aaf...| 358849.7154500834|6307689.3867618255|657b8c452fcae8946...|358857.83758169226|6307697.508893435|  [2]|11.486428677003873|    2025-02-19|
|016130da1999c5490...|f3de540ebefb09aaf...| 358665.9364478129|  6308296.93945967|38df863bfeedd3663...| 358665.1161263099|6308296.119138167|  [2]|1.1601097951013788|    2025-02-19|
|0179f55d98253796d...|f3de540ebefb09aaf...|359414.84126867633|6307470.8548686765|831328e39ea1c3103...|359397.88991266355|6307453.904162407|  [2]|23.972378140477733|    2025-02-19|
|018d631dacc936016...|f3de540ebefb09aaf...|359895.13540077006| 6306987.431800771|40d7b4c7629070e13...| 359869.3480141966|6306952.949238877|  [2]|43.058522745738635|    2025-02-19|
|0251a397c8195d21f...|f3de540ebefb09aaf...| 360846.2999590785| 6307307.445947205|6595980dd31cf328b...|360834.80809771427|6307280.748997714|  [2]| 29.06527119613006|    2025-02-19|
|0251a397c8195d21f...|f3de540ebefb09aaf...| 360846.2999590785| 6307307.445947205|30e311216ffc12b91...|360833.20278641564|6307279.143686416|  [2]| 31.18579640692327|    2025-02-19|
+--------------------+--------------------+------------------+------------------+--------------------+------------------+-----------------+-----+------------------+--------------+
only showing top 10 rows

Guardar las tablas para los diferentes equipos

1. Data scientists: Toda la información - muy granular. Archivo tipo CSV por facilidad
2. Analistas: Más agregada Archivo tipo CSV por facilidad

Se propone agregar columna de fecha para llevar registro de las semanas

In [ ]:
#Para los cientificos de datos

dist_df_ds = dist_df.withColumn("event", expr("concat_ws(',', event)")) #Cambia el tipo de event
dist_df_ds.write.mode("append").csv("/processed_data/csv/", header=True)

#Para los analistas

# Crear un nuevo DataFrame con solo las columnas requeridas para los analistas
dist_simplified_df = dist_df.select(
    col("ID_geo"),
    col("comuna"),
    col("ID_event"),
    expr("event"),
    col("distance"),
    col("date_processed")
)
dist_simplified_df = dist_df.withColumn("event", expr("concat_ws(',', event)"))

# Mostrar los primeros registros para verificar
dist_simplified_df.write.mode("append").csv("/processed_data_analista/csv/", header=True)

In [ ]:
dist_df_ds.show(25)

+--------------------+--------------------+------------------+------------------+--------------------+------------------+------------------+-----+------------------+--------------+
|              ID_geo|              comuna|      latitude_geo|     longitude_geo|            ID_event|    latitude_event|   longitude_event|event|          distance|date_processed|
+--------------------+--------------------+------------------+------------------+--------------------+------------------+------------------+-----+------------------+--------------+
|00944c192e588e812...|f3de540ebefb09aaf...|358859.89315310353| 6307671.723495424|773d9d14c68cc25bc...| 358857.0619159535| 6307696.733227695|    2|  25.1694777874695|    2025-02-19|
|00944c192e588e812...|f3de540ebefb09aaf...|358859.89315310353| 6307671.723495424|657b8c452fcae8946...|358857.83758169226| 6307697.508893435|    2|25.867201712157765|    2025-02-19|
|00e7887af5140e340...|f3de540ebefb09aaf...| 358451.6623842446| 6307001.593334052|aa41f8a93356154a3...| 358485.0771070226| 6307002.025413607|    2| 33.41751623131583|    2025-02-19|
|0129ba9267d30b631...|f3de540ebefb09aaf...| 358849.7154500834|6307689.3867618255|773d9d14c68cc25bc...| 358857.0619159535| 6307696.733227695|    2|10.389471668838654|    2025-02-19|
|0129ba9267d30b631...|f3de540ebefb09aaf...| 358849.7154500834|6307689.3867618255|657b8c452fcae8946...|358857.83758169226| 6307697.508893435|    2|11.486428677003873|    2025-02-19|
|016130da1999c5490...|f3de540ebefb09aaf...| 358665.9364478129|  6308296.93945967|38df863bfeedd3663...| 358665.1161263099| 6308296.119138167|    2|1.1601097951013788|    2025-02-19|
|0179f55d98253796d...|f3de540ebefb09aaf...|359414.84126867633|6307470.8548686765|831328e39ea1c3103...|359397.88991266355| 6307453.904162407|    2|23.972378140477733|    2025-02-19|
|018d631dacc936016...|f3de540ebefb09aaf...|359895.13540077006| 6306987.431800771|40d7b4c7629070e13...| 359869.3480141966| 6306952.949238877|    2|43.058522745738635|    2025-02-19|
|0251a397c8195d21f...|f3de540ebefb09aaf...| 360846.2999590785| 6307307.445947205|6595980dd31cf328b...|360834.80809771427| 6307280.748997714|    2| 29.06527119613006|    2025-02-19|
|0251a397c8195d21f...|f3de540ebefb09aaf...| 360846.2999590785| 6307307.445947205|30e311216ffc12b91...|360833.20278641564| 6307279.143686416|    2| 31.18579640692327|    2025-02-19|
|02549a23f50221709...|f3de540ebefb09aaf...|359925.86814273143|6306888.1335266605|453c86d12caa4dfdd...| 359928.3391364834| 6306890.603036484|  2,2|3.4934637380826428|    2025-02-19|
|02c14a21d7aceda01...|f3de540ebefb09aaf...|359643.18557713676| 6310541.605150887|20193466688518c3e...|  359655.158401368| 6310559.342601367|    2|21.400132467331982|    2025-02-19|
|02c14a21d7aceda01...|f3de540ebefb09aaf...|359643.18557713676| 6310541.605150887|7952cef6e8b3b41c8...| 359670.7573177574|  6310561.79975745|    2|34.176351693678804|    2025-02-19|
|03016bc75e8d78eb8...|f3de540ebefb09aaf...|358319.18747483974| 6308862.987894298|c7f699727927d3db2...|358316.16964519257|6308867.2165451925|    1| 5.195073066924579|    2025-02-19|
|033f5d4336ab29458...|f3de540ebefb09aaf...| 360878.2034780265| 6307265.342035555|6595980dd31cf328b...|360834.80809771427| 6307280.748997714|    2|46.049250975607606|    2025-02-19|
|033f5d4336ab29458...|f3de540ebefb09aaf...| 360878.2034780265| 6307265.342035555|30e311216ffc12b91...|360833.20278641564| 6307279.143686416|    2|  47.0696060311334|    2025-02-19|
|037629073d0244a98...|f3de540ebefb09aaf...| 359424.5986762269| 6307465.470063623|831328e39ea1c3103...|359397.88991266355| 6307453.904162407|    2| 29.10546550091203|    2025-02-19|
|039b2ce881cfafd9d...|f3de540ebefb09aaf...|360001.07126684615|  6306807.96425084|b859fe8eeaabff756...| 359994.1082785441| 6306800.995078544|    2| 9.851526205997693|    2025-02-19|
|03e12929f1b1e75cf...|f3de540ebefb09aaf...| 358936.7024866252| 6307182.966186625|331847402856c03ec...| 358933.6637504356| 6307179.927450435|    2| 4.297421931887375|    2025-02-19|
|05ebf1b649f9d09d2...|f3de540ebefb09aaf...| 358937.3250416882| 6307183.590020097|331847402856c03ec...| 358933.6637504356| 6307179.927450435|    2|  5.17875179584461|    2025-02-19|
|06653478ee552f749...|f3de540ebefb09aaf...|  362067.095101108| 6309542.101174612|ba741f3a7790dd8a6...| 362069.4859190498|  6309535.01396788|    2| 7.479606252109685|    2025-02-19|
|067d5b089e87f6117...|f3de540ebefb09aaf...|  360808.719429321| 6307351.241195493|f1f91a514021836a4...|  360813.738196916| 6307356.259963089|    1| 7.097609199453536|    2025-02-19|
|067d5b089e87f6117...|f3de540ebefb09aaf...|  360808.719429321| 6307351.241195493|128b489933a0513b7...| 360828.9580165607| 6307364.191443403|    2| 24.02726231567165|    2025-02-19|
|06c72c70c8bd70c0e...|f3de540ebefb09aaf...|  359123.212554307| 6306567.171001749|a4c46b60b0481646b...|359137.10123913805| 6306574.036487247|    2|15.492916363798775|    2025-02-19|
|06c8ba28aca74900c...|f3de540ebefb09aaf...|359801.46776195377| 6307063.094927874|d4b60832b4475333d...|359804.04550396255| 6307065.672669883|    2| 3.645477708914539|    2025-02-19|
+--------------------+--------------------+------------------+------------------+--------------------+------------------+------------------+-----+------------------+--------------+
only showing top 25 rows

In [ ]:
#Enviar los dos df a buckets en AWS

# Connect SQL Database to SQL (SQL Execution)

In [ ]:
# Connection sqlite and init Database
import sqlite3

conn = sqlite3.connect('datalake_stage.db')
print("Opened database successfully");

curs = conn.cursor()

Opened database successfully

Conectar las tablas a SQL

In [ ]:
labels_df_pandas = labels.toPandas()
labels_df_pandas.to_sql("labels", conn, if_exists="replace", index=False)
print("Tabla 'labels' cargada en SQLite")

geo_df_pandas = geo.toPandas()
geo_df_pandas.to_sql("geo", conn, if_exists="replace", index=False)
print("Tabla 'geo' cargada en SQLite")


dist_df_pandas = dist_df_ds.toPandas()
dist_df_pandas.to_sql("dist", conn, if_exists="replace", index=False)
print("Tabla 'dist' cargada en SQLite")


#Esta es la tabla en la que geo y labels están unidas, limpiada de duplicados
cleaned_df = cleaned_df.withColumn("event", expr("concat_ws(',', event)")) #Cambia el tipo de event
combined_df_pandas = cleaned_df.toPandas()
combined_df_pandas.to_sql("combined", conn, if_exists="replace", index=False)
print("Tabla 'combined' cargada en SQLite")

Pruebas de validación

In [ ]:
curs.execute("SELECT COUNT(*) FROM labels")
print("Total de filas en labels:", curs.fetchone()[0])

curs.execute("SELECT COUNT(*) FROM geo")
print("Total de filas en geo:", curs.fetchone()[0])

curs.execute("""
    SELECT ID, COUNT(*)
    FROM combined ID
    GROUP BY ID
    HAVING COUNT(*) > 1
""")
print("Clientes en 'combined' con duplicados:", curs.fetchall())

#Revisar si hay valores NULL en los ID de la tabla creada
curs.execute("""
    SELECT *
    FROM dist
    WHERE ID_geo IS NULL OR ID_event IS NULL
""")
print("Clientes con datos nulos en distance_results:", curs.fetchall())

#Verificar si todos los labels tienen un id en GEO (podemos ver que no es el caso)
curs.execute("""
    SELECT COUNT(*)
    FROM labels l
    LEFT JOIN geo g ON l.ID = g.ID
    WHERE g.ID IS NULL;
""")
print("Clientes que están en labels y no en geo:", curs.fetchall())

Total de filas en labels: 84435
Total de filas en geo: 611959
Clientes en 'combined' con duplicados: []
Clientes con datos nulos en distance_results: []
Clientes que están en labels y no en geo: [(20033,)]

Encontrar las top 20 comunas con evento 2

In [ ]:
query_top_20_communes = """
  SELECT
      comuna,
      SUM(
          LENGTH(event) - LENGTH(REPLACE(event, '2', ''))
      ) AS total_eventos
  FROM dist
  GROUP BY comuna
  ORDER BY total_eventos DESC
  LIMIT 20;"""

curs.execute(query_top_20_communes)
top_20_communes = curs.fetchall()

print("Top 20 comunas con más eventos tipo 2:")
for row in top_20_communes:
    print(row)

Top 20 comunas con más eventos tipo 2:
('192579a17a7c6faf9fa70fcff6bc208aa9187dbe4ea70f69ffd991d180c1f823', 57780)
('d6914cd246f4202bf3291abeba40824e6148f7d4042302bcdb449ddf7f5183e1', 28667)
('b13b671cb296c1ce5eb94117f308118364cd258b322f61872cc7364dfcf5f2ad', 26748)
('630d8cf93464322637f0c27c04d65fd7565a04c43decc27f0f5685a689c23cb2', 22737)
('1663f043b1b1201a010d6965765c283b6e068ff0cd071fb7aa6ed1a7fd120172', 18831)
('b8df8fb0f19ee92b800af6f7bd277b2c6c0f660ff2ea13ae5bdaba762f92abf2', 15113)
('5029af19eafc8e0cf42b8bb6b2d05e7fb8c106e5926a2a03e541916e3f8812aa', 10363)
('0bd00d09bd2a382f3f8967d5dd3189af9d2573f6d49a0ba165ffa864cd4fb8bd', 9988)
('8e7e23148e55a25a0a788a413727bcf5079c21bc5f7310187fd4132c15404052', 8904)
('28c2b23257ff4840a5fb733bda4ffa4757d57a4e923ea8b7cc35556e76e80f0f', 8011)
('cc80409f27e2a1b5e3a0feeb3f976bdb13e93ce8144e686c8abdf6762ba6a1a7', 7749)
('4a8bc878fecae0db731883c790c3fdfc623220d388a990cf3be6429f214048ad', 7577)
('5fa3a58d4e35efd789c577a6f721358b0923c32a6a48f87ddae3b28d285a60fc', 5750)
('a532cdd0fac620d3932252b65681c993258383ce0ca78f4933e65185c3cfc462', 5558)
('0431501957fefa14ae758497b2d45c95854c570baca6a18f6b5071664b36240e', 4901)
('facd8f3822689f21d80a4042339735eec30db3bd282c73bb22c4efccdb327147', 4778)
('4233e96b4dacba4ab73e09fdd5bddc2a2e780643a40962ab4c46cb132310108a', 4763)
('87ed4f87a842f25728bbf37705ee61260473c042dee8c67308e3b7e9b5628028', 3849)
('071f5915a5f86e38e578779469198ac892d1927cc9a426eac32c9d72dd9ffbb2', 3751)
('f2edf68ccfd45c7859c1a432a03e63dd831ba6b17bfcf3b7068612eed08830b8', 3318)

Calcular datos de eventos tipo 1

In [ ]:
query_event1_communes = """
    CREATE TABLE eventos_tipo_1 AS
    SELECT
    comuna,
    SUM(LENGTH(event) - LENGTH(REPLACE(event, '1', ''))) AS total_events,
    SUM(latitude_event * (LENGTH(event) - LENGTH(REPLACE(event, '1', ''))))
        / SUM(LENGTH(event) - LENGTH(REPLACE(event, '1', ''))) AS avg_latitude,
    MAX(latitude_event) AS max_latitude,
    MIN(latitude_event) AS min_latitude,
    SUM(longitude_event * (LENGTH(event) - LENGTH(REPLACE(event, '1', ''))))
        / SUM(LENGTH(event) - LENGTH(REPLACE(event, '1', ''))) AS avg_longitude,
    MAX(longitude_event) AS max_longitude,
    MIN(longitude_event) AS min_longitude
FROM dist
WHERE event LIKE '%1%'
GROUP BY comuna;"""

curs.execute(query_event1_communes)

In [ ]:
import pandas as pd
#Guardar nuestra tabla como un df de python
curs.execute("SELECT * FROM eventos_tipo_1")
rows = curs.fetchall()

df = pd.read_sql_query("SELECT * FROM eventos_tipo_1", conn)
df.columns = [
    "Comuna",
    "num eventos tipo1",
    "avg_latitude",
    "max_latitude",
    "min_latitude",
    "avg_longitude",
    "max_longitude",
    "min_longitude"
]

print(df.head())

                                              Comuna  num eventos tipo1  \
0  0431501957fefa14ae758497b2d45c95854c570baca6a1...                306
1  071f5915a5f86e38e578779469198ac892d1927cc9a426...                864
2  0a03fdd5ab558d93c9ba86fc160697c07f2fdf3b187822...                 61
3  0bd00d09bd2a382f3f8967d5dd3189af9d2573f6d49a0b...               1447
4  0d5d4ebd6f3086e733f2862137b0263b0545de5ea654b7...                155

    avg_latitude   max_latitude   min_latitude  avg_longitude  max_longitude  \
0  354003.737470  358140.123202  351226.070286   6.304155e+06   6.306602e+06
1  506741.962394  509672.444713  505156.555366   7.516684e+06   7.519005e+06
2  333950.225758  337184.687306  324869.428447   6.311864e+06   6.314895e+06
3  346477.712303  347837.975686  345229.930985   6.292148e+06   6.294587e+06
4  204097.798510  205835.812184  201701.016968   5.847112e+06   5.850084e+06

   min_longitude
0   6.302591e+06
1   7.512947e+06
2   6.310927e+06
3   6.290352e+06
4   5.844658e+06

In [ ]:
# Close connection to save the db in file datalake_stage.db
conn.close()

In [ ]:
# We will first load an sql extension into our environment
# This extension will allow us to work with sql on Colaboratory
#
%load_ext sql

# We will then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed.
# We will learn more about how databases are created later in prep.
#
%sql sqlite:///datalake_stage.db
# Nothing to do here

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
 %reload_ext sql